#big_header {
	font-size: 300%;
}
h1 {
	color: #2B4F71;
}
body {
	background-color: #FFC6AA;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
img {
	height: 4 cm;
	width: 4 cm;
}
.hype {
	color: #FF0000;
	font-weight: bold;
}
a:visited {
	color: inherit;
	text-decoration: none;
}