/* Color palette:
   http://paletton.com/palette.php?uid=70I0u0kllllaFw0g0qFqFg0w0aF#.VfMZsOsWwhc.gmail */
#big_header {
	font-size: 300%;
}
h1 {
}
body {
	background-color: #FFEAAA;
	color: #123652;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:visited, a:link {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #565695;
}